name: Python CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies with Poetry
        run: poetry install --no-root

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$GITHUB_WORKSPACE/kaggle_projects" >> $GITHUB_ENV

      - name: Run tests in base project
        working-directory: kaggle_projects/base
        run: |
          poetry run pip install -r requirements.txt
          poetry run pytest tests

      - name: Run tests in titanic project
        working-directory: kaggle_projects/titanic
        run: |
          poetry run pip install -r requirements.txt
          poetry run pytest tests
